body{
    
    min-height: 50cm;
      
    
    font-family: 'Courier New', Courier, monospace ;
    background-color: white;
    }

    h1{text-align: center;}
    h2{text-align: center;}
    p{ text-align: center;}
    
    

    